@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    align-items: center;
    background: azure;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.border {
    background: rgb(56, 58, 170);
    border-radius: 12px;
    box-shadow: 0 2px 20px rgb(86, 89, 89);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90%;
    padding: 10px;
    width: 50%;
}

.total-display {
    border: 1px solid azure;
    height: 30%;
    width: 100%;
}

.expenses {
    border: 1px solid azure;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30%;
    padding: 10px;
    width: 100%;
}

.income {
    border: 1px solid azure;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30%;
    padding: 10px;
    width: 100%
}

.expenses h2 {
    color: azure;
    font-size: 1.8rem;
}

.income h2 {
    color: azure;
    font-size: 1.8rem;
}

.expenses input {
    background: none;
    border: 1px double azure;
    border-radius: 6px;
    color: azure;
    font-size: 14px;
    height: 2rem;
    padding: 6px;
    outline: none;
    width: 30%;
}

.income input {
    background: none;
    border: 1px double azure;
    border-radius: 6px;
    color: azure;
    font-size: 14px;
    height: 2rem;
    padding: 6px;
    outline: none;
    width: 30%;
}

.add-btn-exp button {
    background: none;
    border: 1px solid azure;
    border-radius: 6px;
    cursor: pointer;
    color: azure;
    font-size: 16px;
    font-weight: 700;
    height: 2rem;
    transition: .1s ease-in;
    width: 150px;
}

.add-btn-inc button {
    background: none;
    border: 1px solid azure;
    border-radius: 6px;
    cursor: pointer;
    color: azure;
    font-size: 16px;
    font-weight: 700;
    height: 2rem;
    transition: .1s ease-in;
    width: 150px;
}


.add-btn-exp button:hover {
    background: azure;
    color: rgb(56, 58, 170);
}

.add-btn-inc button:hover {
    background: azure;
    color: rgb(56, 58, 170);
}